" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Ignore wrong inputbell
set visualbell

" Shows commands typed on bottom screen
set showmode

" Use hjkl on file explorer
set nerdtree

" Syncs system copy paste with yy
set clipboard+=unnamed

" set <leader> to <space>
let mapleader = " "

" ESC
imap jk <Esc>

" write & quit
nmap <Leader>q :q<CR>
nmap <Leader>w  :w!<CR>

" toggle distraction mode
nmap <Leader>dm <Action>(ToggleDistractionFreeMode)

" update project
nmap <C-t> <Action>(Vcs.UpdateProject)

" Open terminal
nmap <Leader>t <Action>(ActivateTerminalToolWindow)

nmap <Leader>nh :noh<CR>

" Show help ctrl+p short cut to import stuff
nmap gh <Action>(ShowErrorDescription)

"Go to declaration of file/component hovering
nmap gt <Action>(GotoDeclaration)

" Show diff
map gd <Action>(Vcs.ShowHistoryForBlock)

"Move watever
nmap mf <Action>(Move)

"Back watever command
map <leader>b <Action>(Back)

"Forward watever command
map <leader>fw <Action>(Forward)

"Collapse code
nmap <S-Tab> <Action>(CollapseRegion)

"Rollback line
nmap gr <Action>(Vcs.RollbackChangedLines)

"Git blame display
nmap gbl <Action>(Annotate)

" Open NERDTree (use q to exit) / User leader fe to go back to the tree after opening one
map <leader>x :NERDTreeToggle<CR>

" Fast console logging
nmap <Leader>cl oconsole.log()<Esc>i

" Fast print line
nmap <Leader>pl oprintln()<Esc>i

" Clean Up file /imports and indents stuff
nmap <Leader>cu <Action>(ReformatCode) <Action>(OptimizeImports)

" ------ SEARCHING STUFF ------
" Search everywhere in intellij system
map <leader>se <Action>(SearchEverywhere)

" Search for file
map <leader>ff <Action>(GotoFile)

" Search for context inside files
map <leader>fa <Action>(FindInPath)

"Show selected file in Project Explorer
map <leader>fe <Action>(SelectInProjectView)

"Open new file/folder
map <leader>po <Action>(OpenFile)

"Open recent file/project
map <leader>pr <Action>(ManageRecentProjects)

" Comment highlighted line
vmap <Leader>c <Action>(CommentByLineComment)
nmap <Leader>c <Action>(CommentByLineComment)

" Rename highlighted element
nmap <Leader>r <Action>(RenameElement)

" Goto Next error
nmap <Leader>ne <Action>(GotoNextError)

" Move line up / down
nmap J <Action>(MoveLineDown)
nmap K <Action>(MoveLineUp)

vmap J <Action>(MoveLineDown)
vmap K <Action>(MoveLineUp)

" Move page up / down
nmap <Leader>j <Action>(EditorPageDown)
nmap <Leader>k <Action>(EditorPageUp)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Window splits
map <leader>wu <Action>(Unsplit)
map <leader>wv <Action>(SplitVertically)


nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>\

"Move Tab to opposite Pane
map <Leader>m <Action>(MoveEditorToOppositeTabGroup)

" Panonavigatio
nnoremap <Leader>h <C-w>h
nnoremap <Leader>l <C-w>l

" Project navigation
map <Leader>np <Action>(NextProjectWindow)
map <Leader>bp <Action>(PreviousProjectWindow)

" Close project
map <leader>pq <Action>(CloseProject)

" Remap hjkl to arrow keys
nnoremap <S-Left> :action EditorLeftWithSelection<CR>
nnoremap <S-Right> :action EditorRightWithSelection<CR>
nnoremap <S-Up> :action EditorUpWithSelection<CR>
nnoremap <S-Down> :action EditorDownWithSelection<CR>

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gb <Action>(Git.Branches)
map <leader>gh <Action>(Vcs.Show.Log)

" Git copilot
map <leader>cp <Action>(copilot.chat.show)

" Hide window
map <leader>hw <Action>(HideActiveWindow)

" Reload IdeaVim settings
map <leader>rvs <Action>(IdeaVim.ReloadVimRc.reload)

" Reload Maven setting
map <leader>rms <Action>(ExternalSystem.ProjectRefreshAction)

" Run anything
map <Leader>ra <Action>(RunAnything)

" Run class
nmap <leader>rc <Action>(RunClass)

" Run test
nmap <leader>rt <Action>(Run)

" Cancel run
nmap <leader>rs <Action>(Stop)

" Relative line number
:set number
:set relativenumber

" Highlight copied text
" Split screen
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
