" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

" Ignore wrong inputbell
set visualbell

" Shows commands typed on bottom screen
set showmode

" Use hjkl on file explorer
set nerdtree

" Syncs system copy paste with yy
set clipboard+=unnamed

" set <leader> to <space>
let mapleader = " "

" ESC
imap jk <Esc>

" write & quit
nmap <Leader>q :q<CR>
nmap <Leader>w  :w!<CR>

" Open terminal
nmap <Leader>t <Action>(ActivateTerminalToolWindow)

nmap <Leader>nh :noh<CR>

" Show help ctrl+p short cut to import stuff
nmap gh <Action>(ShowErrorDescription)

"Go to declaration of file/component hovering
nmap gt <Action>(GotoDeclaration)

"Rollback line
nmap gr <Action>(Vcs.RollbackChangedLines)

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Fast console logging
nmap <Leader>cl oconsole.log()<Esc>i

" ------ SEARCHING STUFF ------
" Search for file
map <leader>ff <Action>(GotoFile)

" Search for context inside files
map <leader>fa <Action>(FindInPath)


" Comment highlighted line
vmap <Leader>c <Action>(CommentByLineComment)
nmap <Leader>c <Action>(CommentByLineComment)

" Move line up / down
nmap J <Action>(MoveLineDown)
nmap K <Action>(MoveLineUp)

vmap J <Action>(MoveLineDown)
vmap K <Action>(MoveLineUp)

" Move page up / down
nmap <Leader>j <Action>(EditorPageDown)
nmap <Leader>k <Action>(EditorPageUp)

" Easy visual indentation
vnoremap < <gv
vnoremap > >gv

" Window splits
map <leader>wu <Action>(Unsplit)
map <leader>wv <Action>(SplitVertically)


nnoremap <S-l> :tabnext<CR>
nnoremap <S-h> :tabprev<CR>\

"Move Tab to opposite Pane
map <Leader>m <Action>(MoveEditorToOppositeTabGroup)

" Pane navigation
nnoremap <Leader>h <C-w>h
nnoremap <Leader>l <C-w>l

" Remap hjkl to arrow keys
nnoremap <S-Left> :action EditorLeftWithSelection<CR>
nnoremap <S-Right> :action EditorRightWithSelection<CR>
nnoremap <S-Up> :action EditorUpWithSelection<CR>
nnoremap <S-Down> :action EditorDownWithSelection<CR>

" Git windows
map <leader>gc <Action>(CheckinProject)
map <leader>gb <Action>(Git.Branches)

" Relative line number
:set number
:set relativenumber

" Highlight copied text
" Split screen
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
